#admin{
    background: #95B9C9;
    height: 100vh;
    .container{
        .admin{
            &--title{
                text-align: center;
                font-family: 'Montserrat',sans-serif;
                font-style: normal;
                font-weight: 500;
                font-size: 32px;
                line-height: 39px;
                /* identical to box height */

                letter-spacing: 0.1em;

                color: #33332D;

                mix-blend-mode: normal;
            }
            form{
                display: flex;
                flex-direction: column;
                gap: 30px;
                .file--input{
                    outline: none;
                    padding-top: 20px;
                    padding: 0 10px;
                    width: 365px;
                    height: 57px;
                    background: #D9D9D9;
                    border-radius: 10px;
                    font-family: 'Montserrat', sans-serif;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 24px;
                    line-height: 29px;
                    letter-spacing: 0.1em;
border: none;
                    color: #000000;

                }

                .name--input{
                    outline: none;
                    padding: 0 10px;
                    background: #D9D9D9;
                    border-radius: 10px;
                    width: 549px;
                    height: 57px;
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 24px;
                    line-height: 29px;
                    letter-spacing: 0.1em;

                    color: #000000;

                    border: none;
                }
              .form--btn{
                width: 200px;
                height: 30px;
                background: #D9D9D9;
                border-radius: 10px;
                border: none;
              }
            }
        }
    }
}